<div class="container-fluid ">
  <div class="row">
    <div class="col-8">
      <p-panel header="Text editor">
        <form [formGroup]="form" class="NgxEditor__Wrapper">
          <div class="editor">
            <ngx-editor-menu [editor]="this.editor" [toolbar]="toolbar" [customMenuRef]="commentMenu"></ngx-editor-menu>
            <ngx-editor [editor]="this.editor" formControlName="editorContent" (ngModelChange)="editorChange($event)"></ngx-editor>
            <ngx-editor-floating-menu [editor]="this.editor" >
              <ngx-editor-menu [editor]="this.editor" [toolbar]="contextCustomToolbar" [customMenuRef]="commentMenu"></ngx-editor-menu>
            </ngx-editor-floating-menu>
            <ng-template #commentMenu>
              <app-comment-popup [class]="iconCommentMenuClass" [editor]="this.editor" (onCommentClick)="onCommentDone($event)"></app-comment-popup>
            </ng-template>
          </div>
        </form>
      </p-panel>
      <hr>
      <p-panel header="Output">
        <pre>
           <p>
            {{this.form.value | json}}
          </p>
        </pre>
      </p-panel>
    </div>
    <div class="col-4">
      <p-scrollPanel [style]="{width: '100%', height: '100%'}" styleClass="custombar1" *ngIf="comments.length > 0"
          class="fadeinright animation-duration-300 animation-iteration-1 flex align-items-center justify-content-center">
        <p-panel [toggleable]="true" [transitionOptions]="'1ms'">
          <ng-template pTemplate="header">
            Comments
          </ng-template>
          <app-timeline-comments [comments]="comments"></app-timeline-comments>
        </p-panel>
      </p-scrollPanel>
    </div>
  </div>
</div>

