<p-timeline [value]="comments" align="alternate" styleClass="customized-timeline">
  <ng-template pTemplate="marker" let-comment>
    <span class="custom-marker p-shadow-2" [style.backgroundColor]="BackgroudColorIcon" [style.color]="colorIcon">
      <i [ngClass]="icon"></i>
    </span>
  </ng-template>
  <ng-template pTemplate="content" let-comment>
    <p-card [header]="comment.user" [subheader]="comment.datetimeAsString" [style]="{ width: '300px', height: '-10%', 'margin-bottom': '2em' }" styleClass="shadow-2" >
      <ng-template pTemplate="header">
        <div class="custom-card-title">
        </div>
      </ng-template>
        <p>
          {{comment.message}}
        </p>
      <ng-template pTemplate="footer">
      </ng-template>
    </p-card>
  </ng-template>
</p-timeline>
<div>
  <input type="text" [style]="{width: '100%'}" pInputText placeholder="Reply" (focusin)="showReplyButton = true" [(ngModel)]="newCommentTextContent"/>
  <div class="mt-2 text-right">
    <p-button ariaLabel="Reply" icon="pi pi-check" *ngIf="showReplyButton" (onClick)="newComment()"></p-button>
    <p-button label="Cancel" *ngIf="showReplyButton" (onClick)="cancelNewComment()"></p-button>
  </div>
</div>
